@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: var(--border-color);
    height: 70px;
    width: 100%;
    padding-left: 20px;
}
.navbar_title a{
    color: var(--main-color);
    font-family: "Yantramav", sans-serif;
    text-decoration: none;

}
.navbar_list{
    display: flex;
    align-items: center;
    height: 100%;
    width: 45%;

}
.navbar_item{
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
}
.navbar_item :last-child {
    border-right: none;
}